body 
{
    background-color: #000000;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
   font-size: 20px
}

#cabecera
{
    background: url("../Img/gg_logo.png") no-repeat left center;
    background-size: 25%;
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 3em 0 2em 12em;
    font-weight: bold;
    box-shadow: 4px 4px 26px 16px rgba(0,0,0,0.39);
    font-size: 30px;
    
}

#cabecera #logo
{
    width: 10%;
    vertical-align: middle;
}

#post

{
    padding: 1em;
    background-color: #DDD;
    color: #0a0000;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}